---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "materialize/mixins";
@import "materialize/variables";
@import "custom-scrollbar";
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.8rem;
}
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
.clearfix-overflow {
    overflow: hidden;
}
.display-block {
    display: block;
}
.fa {
    line-height: inherit;
}
.row {
    margin-bottom: 0;
}
.bold {
    font-weight: bold;
}
.position-relative {
    position: relative;
}
.odette-icon {
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: inherit;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all 100ms;
    &:hover, .odette-hover-trigger:hover & {
        transform: rotate(30deg);
    }
    &:before {
        content: " ";
        box-sizing: inherit;
        display: block;
        height: 100%;
        width: 100%;
        background-color: white;
        position: absolute;
        border-radius: 50%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    &:after {
        content: " ";
        box-sizing: inherit;
        display: block;
        border-radius: 50%;
        height: 46%;
        width: 46%;
        border-radius: 10%;
        background-color: inherit;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}
.notselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;
}
.selectable {
    -webkit-touch-callout: auto; /* iOS Safari */
    -webkit-user-select: auto;   /* Chrome/Safari/Opera */
    -khtml-user-select: auto;    /* Konqueror */
    -moz-user-select: auto;      /* Firefox */
    -ms-user-select: auto;       /* IE/Edge */
    user-select: auto;
}
.text-uppercase {
    text-transform: uppercase;
}
.contain {
    padding: 1rem;
}
.con {
    padding: 0 1rem;
}
.card {
    margin: 0.75rem 0;
}
.clear-left {
    clear: left;
}
.hljs {
    background-color: transparent;
    .string {
        color: color('yellow', 'darken-3');
    }
    &.javascript {
        .keyword {
            color: color('light-blue', 'base');
        }
        .literal {
            color: color('purple', 'darken-2');
        }
        .comment {
            color: color('grey', 'base');
        }
        .return {
            .keyword {
                color: color('materialize-red', 'base');
            }
        }
    }
    &.html {
        .name {
            color: color('materialize-red', 'base');
        }
        .attr {
            color: color('green', 'darken-1');
        }
    }
}
:not(pre)>code[class*=language-], pre[class*=language-] {
    background: color('grey', 'lighten-5');
}
.title-headline {
    color: color('light-blue', 'base');
    margin-top: 2rem;
}
.code {
    padding: 0;
    width: 100%;
    white-space: pre;
    word-break: break-word;
    font-family: courier;
    display: block;
    overflow: auto;
    position: relative;
}
.inline-code {
    background-color: color('grey', 'lighten-4');
    padding: 0 5px;
}
pre.code-section {
    margin: 1rem 0;
    background-color: color('grey', 'lighten-5');
    padding: 1rem;
    line-height: 1.4rem;
    @extend .selectable;
    code {
        display: block;
    }
}
.card .card-content.code-step {
    padding: 0.333rem 1.333rem;
    p {
        margin: 1rem 0;
    }
}


.side-nav.fixed {
    width: 16rem;
    right: 100%;
    left: auto;
    @media #{$medium-and-down} {
        transition: transform 250ms;
    }
}

// .navigation-links a {
//     line-height: 1.8rem;
// }

.clearfix {
    @extend %clearfix;
}
.nested-list-collapser {
    overflow: hidden;
    display: none;
    &.collapser-ready {
        display: block;
    }
}
.list {
    &.nested-list {
        padding-left: 2rem;
    }
    @extend %clearfix;
    // overflow: hidden;
    .list-item {
        display: block;
    }
    .list-item a {
        padding: 0 2rem;
    }
    .inner-list {
        .list-item a {
            padding-left: 3rem;
        }
    }
}

.top-nav {
    nav {
        right: 0;
        left: 0;
        max-width: 100%;
        .brand-logo.left {
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 10rem;
        }
    }
    .button-collapser {
        transition: all 250ms;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        font-size: 2.5rem;
    }
}

// .with-sidebar .navbar-fixed nav {
//     @media #{$large-and-up} {
//         padding-left: 16rem;
//     }
// }

.list-item {
    display: block;
    overflow: hidden;
    &.hover-effect {
        cursor: pointer;
        &:hover {
            background-color: color("grey", "lighten-3");
        }
    }
}


.sidebar-wrapper {
    .side-nav-list {
        clear: right;
        margin-top: 0;
        text-align: left;
    }
    a.inner-collapser {
        font-size: 2.5rem;
        text-align: right;
        color: color('purple', 'lighten-3');
        float: right;
        width: 100%;
        padding: 0 2rem;
        height: 4rem;
        line-height: 4rem;
        cursor: pointer;
        @media #{$medium-and-up} {
            text-align: center;
        }
    }
    .list-item {
        height: 2.5rem;
        line-height: 2.5rem;
        padding: 0;
        transition: background-color 250ms;
        a {
            padding: 0 2rem;
            height: inherit;
            line-height: inherit;
        }
    }
    @media #{$medium-and-down} {
        &[data-toggled] {
            .side-nav {
                transform: translateX(16rem);
            }
        }
    }
    .side-nav {
        @media #{$large-and-up} {
            transform: translateX(0);
            margin-right: -16rem;
        }
    }
}

// .top-nav {
//     height: 4rem;
//     nav {
//         height: 100%;
//     }
// }

.page-content {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 0rem;
    .with-sidebar & {
        @media #{$large-and-up} {
            padding-left: 16rem;
        }
    }
}
.content-wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 25rem;
    // z-index: 10;
    @media #{$medium-and-up} {
        padding-bottom: 20rem;
    }
}

.social-container {
    color: color("grey", "lighten-3");
    fill: color("grey", "lighten-3");
    display: block;
    float: left;
    height: 2rem;
    span {
        line-height: 2rem;
        max-height: 100%;
        margin-right: 15px;
        float: left;
        &.fa {
            font-size: 2rem;
        }
    }
}
.with-sidebar {
    .page-footer {
        @media #{$large-and-up} {
            left: 16rem;
        }
    }
}
footer.page-footer {
    height: 25rem;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    // z-index: 9;
    .gitter-icon {
        height: 1.6rem;
        width: 1.6rem;
    }
    @media #{$medium-and-up} {
        height: 20rem;
    }
    .footer-copyright {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 8rem;
        line-height: 8rem;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        .col {
            height: 4rem;
            line-height: 4rem;
        }
        svg {
            height: 0.8rem;
            fill: rgba(255, 255, 255, 1);
            width: auto;
        }
        @media #{$medium-and-up} {
            height: 4rem;
            line-height: 4rem;
            .col {
                text-align: right;
                &:first-child {
                    text-align: left;
                }
            }
        }
    }
}
.hero {
    padding: 80px 0;
}
h1,h2,h3,h4,h5,h6 {
    overflow: hidden;
    text-overflow: ellipsis;
}
.hero [data-custom="text-reveal"] {
    font-size: 1.64rem;
}
.marketing-card {
    // margin-top: 20px;
    // min-height: 10rem;
    .lead {
        padding-top: 1rem;
    }
    &:nth-child(2n+1) {
        @media #{$medium-and-down} {
            clear: left;
        }
    }
    &:nth-child(3n+1) {
        @media #{$large-and-up} {
            clear: left;
        }
    }
}
.full-width {
    width: 100%;
}
.btn {
    padding: 0 1rem;
}
.nav-link {
    min-width: 5rem;
    text-align: center;
}
[data-custom="text-reveal"] {
    opacity: 0;
    display: inline-block;
    transform: translateY(100%);
    transition: all 250ms;
}
[data-custom="text-reveal"].showing {
    opacity: 1;
    transform: translateY(0);
}
.is-scrolling {
    * {
        pointer-events: none !important;
    }
}
.triggers-run {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 12px;
    background-color: white;
    // margin-bottom: -40px;
    position: relative;
    float: right;
    display: block;
    z-index: 1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    &.no-op {
        display: none;
    }
}