html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.notselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;
}
.selectable {
    -webkit-touch-callout: auto; /* iOS Safari */
    -webkit-user-select: auto;   /* Chrome/Safari/Opera */
    -khtml-user-select: auto;    /* Konqueror */
    -moz-user-select: auto;      /* Firefox */
    -ms-user-select: auto;       /* IE/Edge */
    user-select: auto;
}
.page-wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin-bottom: -10rem;
}
.footer {
    margin-bottom: -10rem;
    height: 10rem;
}
.hero {
    padding: 80px 0;
}
.hero [data-custom="text-reveal"] {
    font-size: 1.64rem;
}
.marketing-card {
    margin-top: 20px;
    min-height: 10rem;
}
@media only screen and (min-width: 601px) {
    .marketing-card {
        min-height: 15rem;
    }
}

@media only screen and (min-width: 992px) {
    .marketing-card {
        min-height: 18rem;
    }
}
.full-width {
    width: 100%;
}
.btn {
    padding: 0 1rem;
}
.nav-link {
    min-width: 5rem;
    text-align: center;
}
[data-custom="text-reveal"] {
    opacity: 0;
    display: inline-block;
    transform: translateY(100%);
    transition: all 300ms;
}
[data-custom="text-reveal"].showing {
    opacity: 1;
    transform: translateY(0);
}