---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// @import "materialize/prefixer";
@import "materialize/mixins";
@import "materialize/color";

// Variables;
@import "materialize/variables";


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.notselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;
}
.selectable {
    -webkit-touch-callout: auto; /* iOS Safari */
    -webkit-user-select: auto;   /* Chrome/Safari/Opera */
    -khtml-user-select: auto;    /* Konqueror */
    -moz-user-select: auto;      /* Firefox */
    -ms-user-select: auto;       /* IE/Edge */
    user-select: auto;
}
.text-uppercase {
    text-transform: uppercase;
}

.side-nav.fixed {
    width: 16rem;
    right: 100%;
    left: auto;
    @media #{$medium-and-down} {
        transition: margin 250ms;
    }
}

.navbar-fixed nav {
    right: 0;
    left: 0;
    max-width: 100%;
}
.navbar-fixed nav {
    .brand-logo.left {
        left: auto;
    }
}

.with-sidebar .navbar-fixed nav {
    @media #{$large-and-up} {
        padding-left: 16rem;
    }
}

.sidebar-wrapper {
    .nav-list-item {
        height: 3rem;
        line-height: 3rem;
        padding: 0;
        a {
            padding: 0 2rem;
            height: inherit;
            line-height: inherit;
        }
    }
    &[data-toggled] {
        .side-nav {
            margin-right: -16rem;
        }
        .button-collapse {
            margin-right: -20rem;
        }
    }
    .side-nav {
        @media #{$large-and-up} {
            transform: translateX(16rem);
        }
    }
    .button-collapse {
        transition: all 250ms;
        position: absolute;
        top: 0;
        right: 100%;
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        font-size: 2rem;
        margin-right: -4rem;
    }
}

.top-nav {
    height: 4rem;
}

.page-content {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 0rem;
    transition: padding 250ms;
    .with-sidebar & {
        @media #{$large-and-up} {
            padding-left: 16rem;
        }
    }
}
.content-wrapper {
    min-height: 100%;
    margin-bottom: -20rem;
    padding-bottom: 20rem;
}

.social-container {
    color: color("grey", "lighten-3");
    fill: color("grey", "lighten-3");
    display: block;
    float: left;
    height: 2rem;
    span {
        line-height: 2rem;
        max-height: 100%;
        margin-right: 15px;
        float: left;
        &.fa {
            font-size: 2rem;
        }
    }
}
footer.page-footer {
    height: 20rem;
    position: relative;
    margin: 0;
}
.footer-copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.hero {
    padding: 80px 0;
}
.hero [data-custom="text-reveal"] {
    font-size: 1.64rem;
}
.marketing-card {
    margin-top: 20px;
    min-height: 10rem;
}
@media only screen and (min-width: 601px) {
    .marketing-card {
        min-height: 15rem;
    }
}

@media only screen and (min-width: 992px) {
    .marketing-card {
        min-height: 18rem;
    }
}
.full-width {
    width: 100%;
}
.btn {
    padding: 0 1rem;
}
.nav-link {
    min-width: 5rem;
    text-align: center;
}
[data-custom="text-reveal"] {
    opacity: 0;
    display: inline-block;
    transform: translateY(100%);
    transition: all 250ms;
}
[data-custom="text-reveal"].showing {
    opacity: 1;
    transform: translateY(0);
}