
<div class="navbar-fixed center-align top-nav" id="fixed-nav-container">
    <nav class="purple lighten-2 z-depth-1">
        <div class="nav-wrapper">
            <div class="container">
                <a data-custom="click-toggler" data-target=".nav-side-slide" class="nav-side-slide button-collapser hide-on-large-only white-text"><i class="fa fa-circle"></i></a>
                <a href="{{ site.baseurl }}/" class="brand-logo left col">Odette</a>
            </div>
        </div>
    </nav>
</div>
