
<div class="navbar-fixed">
    <nav class="purple lighten-2">
        <div class="nav-wrapper">
            <div class="container">
                <a href="{{ site.baseurl }}/" class="brand-logo left col">Odette</a>
                <ul id="nav-mobile" class="right">
                    <li><a class="nav-link" href="{{ site.baseurl }}/about.html">About</a></li>
                    <li><a class="nav-link" href="{{ site.baseurl }}/api/index.html">API</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>