
<div class="navbar-fixed center-align">
    <nav class="purple lighten-2 z-depth-1">
        <div class="nav-wrapper">
            <div class="container">
                <a href="#" data-custom="click-toggler" data-target=".nav-side-slide" class="nav-side-slide button-collapse hide-on-large-only white-text"><i class="fa fa-circle"></i></a>
                <a href="{{ site.baseurl }}/" class="brand-logo left col">Odette</a>
                <ul id="nav-mobile" class="right">
                    <li><a class="nav-link" href="{{ site.baseurl }}/about.html">About</a></li>
                    <li><a class="nav-link" href="{{ site.baseurl }}/api/">API</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>