<script type="text/javascript" src="/js/odette/odette.js"></script>
<script type="text/javascript" src="/js/odette/application.js"></script>
<script type="text/javascript" src="/js/odette/library.js"></script>
<script type="text/javascript">application.definition(application.scope().VERSION, this);</script>
<script type="text/javascript" src="/js/vendor/waves.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.4.1/prism.min.js"></script>
<!-- <script type="text/javascript" src="/js/ps.js"></script> -->
<script type="text/javascript" src="/js/shared/swipe.js"></script>
<script type="text/javascript" src="/js/shared/elements.js"></script>
<script type="text/javascript" src="/js/shared/index.js"></script>
{%if page.js%}
<script src="{{ page.js | prepend: '/js/pages/' | prepend: site.baseurl | append: '.js' }}" type="text/javascript"></script>
{%endif%}