<div class="side-nav fixed">
<a href="#" data-custom="click-toggler" data-target=".nav-side-slide" class="button-collapse hide-on-large-only white-text"><i class="fa fa-circle-o"></i></a>
<ul class="side-nav-list">
  <li class="nav-list-item"><a class="waves-effect" href="#!">Ajax</a></li>
  <li class="nav-list-item"><a class="waves-effect" href="#!">Application</a></li>
  <li class="nav-list-item"><a class="waves-effect" href="#!">Buster</a></li>
  <li class="nav-list-item"><a class="waves-effect" href="#!">Collection</a></li>
  <li class="nav-list-item"><a class="waves-effect" href="#!">Directive</a></li>
  <li class="nav-list-item"><a class="waves-effect" href="#!">DOMA</a></li>
  <li class="nav-list-item"><a class="waves-effect" href="#!">Model</a></li>
  <li class="nav-list-item"><a class="waves-effect" href="#!">Module</a></li>
  <li class="nav-list-item"><a class="waves-effect" href="#!">Promise</a></li>
  <li class="nav-list-item"><a class="waves-effect" href="#!">Region</a></li>
  <li class="nav-list-item"><a class="waves-effect" href="#!">View</a></li>
</ul>
</div>