<div class="side-nav fixed">
    <a data-custom="click-toggler" data-target=".nav-side-slide" class="global-sidebar-toggler odette-hover-trigger nav-list-item inner-collapser purple lighten-3 white-text position-relative">
        <i class="odette-icon inverted purple lighten-3"></i>
    </a>
    <ul class="side-nav-list list">
        <li class="list-item hover-effect bold">
            <a class="waves-effect" href="{{ site.baseurl }}/">Home</a>
        </li>
        <li class="list-item hover-effect bold">
            <a class="waves-effect" href="{{ site.baseurl }}/about">About</a>
        </li>
        <li class="list-item hover-effect bold">
            <a class="waves-effect" href="{{ site.baseurl }}/api/">API</a>
        </li>
        {% capture posts %}{% for post in site.categories.API %}|{{ post.title }}#{{ post.url }}{% endfor %}{% endcapture %}
        {% assign sortedposts = posts | split: '|' | shift | sort %}
        <ul class="inner-list">
        {% for post in sortedposts %}{% assign postitems = post | split: '#' %}
        <li class="list-item hover-effect waves-effect"><a href="{{ postitems[1] }}">{{ postitems[0] }}</a></li>{% endfor %}
        </ul>
    </ul>
</div>
