<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="notselectable with-sidebar">
        <div class="sidebar-wrapper nav-side-slide">
            {% include sidebar.html %}
        </div>
        <main class="page-content nav-side-slide">
            <div class="content-wrapper z-depth-1">
                {% include header.html %}
                {% include footer.html %}
                <div class="row white position-relative">
                    {{ content }}
                </div>
            </div>
        </main>
        {% include templates/index.html %}
        {% include scripts.html %}
    </body>
</html>